---
import { Image } from "astro:assets";
import skeole from "../assets/skeole.webp";
import Layout from "../layouts/Layout.astro";
import Particles from "../components/Particles.astro";
---

<Layout>
	<Particles />
	<div
		class="flex flex-col justify-center items-center h-screen [text-wrap:balance]"
	>
		<h1 class="text-7xl text-center text-white">
			VOTE SHAAN KEOLE '24 FOR HOCO COURT!!!
		</h1>
		<Image src={skeole} alt="shaan keole" />
	</div>
</Layout>
