<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/skeole.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SHAAN KEOLE '24 FOR HOCO COURT</title>
  </head>
  <body>
    <slot />
  </body>
</html>
