<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/skeole.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SHAAN KEOLE '24 FOR PROM KING</title>
    {
      import.meta.env.PROD ? (
        <script
          async
          src="https://u.rgodha.com/script.js"
          data-website-id="5f5e0651-2654-4825-9a33-d82ef6842853"
        />
      ) : null
    }
  </head>
  <body>
    <slot />
  </body>
</html>
